img {
  height: 350px;
  width: 350px;
}
.stickers {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}
h1 {
  justify-self: center;
}
button {
  justify-self: center;
  display: flex;
  margin-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.message {
  justify-self: center;
}
